body {
    background-color:  lightblue;
} 

#header-image{

    width: 100%;
    height: 50vh; /* 100% of the viewport height */
    object-fit: cover

}

.important-section {
    background-color: beige;
    position: relative;
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 253px;
    margin-top: -20px;

       
    }
    .container{
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    background-color: beige;
    padding: 21px;
    }
    .site-title{
        position: absolute;
        top: 22%;
        left: 37%;
        margin-top: 80px;
        color: white;
        background-color: transparent;
        font-size: 58px;
        font-family: Arial, Helvetica, sans-serif;
    }
    /*here is the most important styles to my websit*/

    .content-container{
        width: 800px;
        margin-left:auto;
        margin-right:auto;
        width: 56%;
        overflow: hidden;
        background-color: beige;
        padding: 80px;
        margin-top: -50px;


    }

    #subheader{
     margin-left: -10px;

    }


    #article-image{
        max-width: 200px;
        float: left;
        margin-right: 10px;
    }
    
    
    h2{
        margin-bottom: 10px;
    }
   

    .menu {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    
    .first-word{
        margin-left: 100px;
    }
    .separator {
        display: inline;
        margin:0  150px;
        color: black;
    }
    
    .my-contact{
        border: 2px black;
        padding: 5px;
    
    }
    
    .form-field {
        border: 2px solid black;
        padding: 20px;
        margin: 0 auto; 
        width: 94%;
    
    }
    
    #name{
        width: 800px;
    }
    
    #email{
        width: 800px;
    }
    
    #message{
        width: 800px;
    }
    
    .send-button {
        width: 500px;
        text-align: center; 
        margin: 0 auto; 
    }
    
    .my-facts{

        width: 800px;
        margin-left:auto;
        margin-right:auto;
        width: 56%;
        overflow: hidden;
        background-color: beige;
        padding: 80px;
        margin-top: -160px;

    }

      .background-section{
        width: 800px;
        margin-left:auto;
        margin-right:auto;
        width: 56%;
        overflow: hidden;
        background-color: beige;
        padding: 80px;
        margin-top: -160px; 

    }


    #footer{
        position: relative;
        text-align: right;
        margin-right:340px;
        bottom: -100px;
        padding: 0.6px;
        width: 590px;
        margin-top: -180px;
       
         

    }
    
    
   